parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$user of class Illuminate\\Auth\\Events\\Verified constructor expects Illuminate\\Contracts\\Auth\\MustVerifyEmail, App\\Models\\User\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: '#^Access to an undefined property App\\Models\\Question\:\:\$color\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/DashboardController.php

		-
			message: '#^Access to an undefined property App\\Models\\Question\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/DashboardController.php

		-
			message: '#^Access to an undefined property App\\Models\\Question\:\:\$question_count\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/DashboardController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$color\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/DashboardController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/DashboardController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\Question\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 2
			path: app/Http/Controllers/DashboardController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$alternatives\.$#'
			identifier: property.notFound
			count: 4
			path: app/Http/Controllers/ExamController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ExamController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$pivot\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/ExamController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$question_id\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/QuestionController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$points\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Exam.php

		-
			message: '#^Trait App\\Traits\\HasCache is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: app/Traits/HasCache.php
